.center {
  display: flex;
  align-content: center;
  justify-content: center;
}

#wrapper-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/img/fwf-mosaic-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.content {
  position: relative;
  z-index: 100;
  h2 {
    font-family: 'Brother 1816', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  span {
    /* let’s explore:: */
    font-family: 'Brother 1816', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
  }
  .logo {
    img {
      padding-top: 10%;
      padding-bottom: 10%;
      display: block;
      margin: 0 auto;
      @include breakpoint (small only) {
        width: 60%;
      }
    }
  }
  .tagline {
    h1 {
      /* Feeling is believing: */
      font-size: 48px;
      font-family: 'Brother 1816', sans-serif;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase; //font-size: 48px;
      color: #FFFFFF;
      letter-spacing: 5px;
      padding-bottom: 20px;
      @include breakpoint (medium only) {
        padding-bottom: 20px;

      }
      @include breakpoint (small only) {
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 30px;
      }
    }
  }

  .spacer {
    padding-bottom: 40px;
  }

  
  .services {
   padding-bottom: 10px;
    h2 {
      font-family: 'Brother 1816', sans-serif;
      font-size: 24px;
      color: #ffffff;
      text-align: center;
      margin-bottom: 0;
      @include breakpoint (medium only) {
        padding-bottom: 15px;
        margin-bottom: 0;
      }
      @include breakpoint (small only) {
        padding-bottom: 0px;
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    ul,
    li {
      display: inline-block;
      padding: 0 40px 0 40px;
      text-align: center;
      margin-left: 0;
      h2 {
        font-family: 'Brother 1816', sans-serif;
        line-height: 22px;
        font-size: 30px;
        color: #ffffff;
        text-align: center;
        @include breakpoint (medium only) {
          padding-bottom: 15px;
        }
        @include breakpoint (small only) {
          padding-bottom: 10px;
          font-size: 20px;
        }
      }
    }
  }
  .contact {
    padding-top: 50px;
    @include breakpoint (small only) {
      padding-top: 0px;
    }
    span {
      /* let’s explore:: */
      font-family: 'Brother 1816', sans-serif;
      font-size: 25px;
      color: #FFFFFF;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      @include breakpoint (small only) {
        font-size: 15px;
      }
    }
    h2 {
      font-family: 'Brother 1816', sans-serif;
      font-size: 30px;
      color: #ffffff;
      text-align: center;
      @include breakpoint (small only) {
        font-size: 20px;
      }
    }
    a {
      color: #ffffff;
      transition: .5s ease;
      &:hover {
        color: #d4762b;
      }
    }
  }
}
